*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
}

body{
  min-height: 100%;
  width: 100vw;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  /* background-color: ; */
}

body::-webkit-scrollbar{
  display: none;
}


@keyframes circle-in-hesitate {
0% {
clip-path: circle(0%);
}
40% {
clip-path: circle(40%);
}
100% {
clip-path: circle(125%);
}
}


.heroSection{
  height: 100vh;
  min-width: 100vw;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
  overflow: hidden;
}

.heroSection > div{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  min-height: 30%;
  width: 100%;
}

.heroSection h1{
  font-size: clamp(3rem, 10vw, 9rem);
}

.heroSection .div{
  margin-top: -5%;
  gap: 4rem;
  /* border: 1px solid red; */
}

.heroSection .for{
  /* margin-right: 1rem; */
}
.heroSection .dev{
  margin-left: 24%;
}

.heroSection .div .rotate-90-tl-cw {
  display: inline-block;
  margin-top: clamp(15%, 5vw, 25%);
  transform: rotate(90deg);
  animation: rotate-90-tl-cw .4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 2s;
}

@keyframes rotate-90-tl-cw {
  0% {
    transform-origin: 0% 0%;
  }
  100% {
    transform-origin: 0% 0%;
    transform: rotate(0deg);
  }
}


.name{
  font-size: 7vmin;
  user-select: none;
}

.pages{
  min-height: 100vh;
  width: 100vw;
  background-color: white;
  scroll-snap-align: center;
  padding: 3vmin;
}

.page1{
  padding: 0%;
}

.pages h2{
  font-size: 4vmin;
}

.pages > h1{
  font-size: 5vmin;
  text-align: center;
  margin: 1rem;
  text-decoration: underline;
}

.page1{
  background-color: white;
}



.marquee {
margin: 0em 0px;
}
.marquee-box-one {
overflow: hidden;
position: relative;
display: flex;
align-items: center;
margin: 3em 0 0 0;
}
.marquee-content-one {
display: flex;
gap: 30px;
padding: 0 20px;
animation: scroll-one 30s linear infinite;
}
.marquee-box-two {
overflow: hidden;
position: relative;
display: flex;
align-items: center;
margin: 3em 0 6em 0;
}
.marquee-content-two {
display: flex;
gap: 10px;
padding: 0 10px;
animation: scroll-two 30s linear infinite;
}
.marquee-text {
white-space: nowrap;
text-transform: uppercase;
font-size: 5vmin;
font-weight: 100;
flex-shrink: 0;
margin: 0;
padding: 15px 30px;
border: 1px solid grey;
border-radius: 50px;
/* color: white; */
background-color: white;
/* background-color: #181818; */
display: flex;
align-items: center;
user-select: none;
transition: .4s;
}
.marquee-text:hover {
background-color: #31393F;
color: white;
border: 1px solid #31393F;
}

@keyframes scroll-one {
0% { transform: translateX(0); }
100% { transform: translateX(-100%); }
}
@keyframes scroll-two {
0% { transform: translateX(-100%); }
100% { transform: translateX(0); }
}

.spear{
padding-top: 1rem;
height: 2rem;
}

.info_details{
height: 60vh;
padding: 2vmax;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.info_details > h1{
font-size: 7vmin;
}

ul{
padding: 2vmin;
font-size: 5vmin;
list-style-image: url('./sssurface.svg');
display: flex;
flex-wrap: wrap;
}

ul li{
margin: 3vmin;
}

ul li a{
text-decoration: none;
font-size: 6vmin;
font-weight: 500;
color: black;
transition: .4s;  
}

ul li a:hover{
  color: #f8546f;
}

/* From Uiverse.io by SnyDeTreves */ 
/*************/
/* Variables */
/*************/




.btn-container {
  --pupil-color: rgb(156, 207, 255);
  --pupil-move: 20%;
  --sensor-height: 130dvmax;
  --sensor-width: calc(var(--sensor-height) * 82.84 / 100);
}

@media screen and (max-width: 1020px) {
  .btn-container {
    --pupil-color: rgb(235, 238, 54);
    --pupil-move: 20%;
    --sensor-height: 5rem;
    --sensor-width: 5rem;
  }
  .heroSection .div{
    margin-top: -10vh;
  }
  .heroSection .div .dev{
    margin-left: 13rem;
  }
  .heroSection .div .dev .tongue{
    font-size: 7rem;   
  }
}

.btn-button {
  --back-color: #fff;
}
.btn-lid {
  --back-color: transparent;
}

/**********/
/* Styles */
/**********/

/* Container */
.btn-container {
  position: relative;
}

/* Button */
.btn-button {
  background: #fff;
  border: 3px solid #000;
  border-radius: 10rem;
  cursor: pointer;
  padding: 2rem;
  position: relative;
  z-index: 100;
}
.btn-button:hover,
.btn-button:hover .btn-lid {
  animation: squint 100ms forwards;
}
.btn-button:active .btn-pupil {
  animation: agitate 100ms infinite 500ms;
  border-width: 0.5rem;
  padding: 1rem;
}

.btn-lid {
  border-radius: 10rem;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 101;
}

.btn-pupil {
  background: #000;
  border: 0.8rem solid var(--pupil-color);
  border-radius: 10rem;
  padding: 0.7rem;
  transition: all 200ms ease-out;
}

/* Sensors */
.btn-sensor {
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
  height: var(--sensor-height);
  left: calc(50% - var(--sensor-width) / 2);
  overflow: hidden;
  position: absolute;
  top: calc(50% - var(--sensor-height) / 2);
  transform: rotate(calc(var(--a) * 1deg))
    translateY(calc(var(--sensor-height) * -50 / 100));
  width: var(--sensor-width);
  z-index: 99;
}

/************/
/* Tracking */
/************/

.sensor-n:hover ~ .btn-button .btn-pupil {
  transform: translateX(0) translateY(calc(-3 * var(--pupil-move)));
}
.sensor-ne:hover ~ .btn-button .btn-pupil {
  transform: translateX(calc(2 * var(--pupil-move)))
    translateY(calc(-2 * var(--pupil-move)));
}
.sensor-e:hover ~ .btn-button .btn-pupil {
  transform: translateX(calc(3 * var(--pupil-move))) translateY(0);
}
.sensor-se:hover ~ .btn-button .btn-pupil {
  transform: translateX(calc(2 * var(--pupil-move)))
    translateY(calc(2 * var(--pupil-move)));
}
.sensor-s:hover ~ .btn-button .btn-pupil {
  transform: translateX(0) translateY(calc(3 * var(--pupil-move)));
}
.sensor-sw:hover ~ .btn-button .btn-pupil {
  transform: translateX(calc(-2 * var(--pupil-move)))
    translateY(calc(2 * var(--pupil-move)));
}
.sensor-w:hover ~ .btn-button .btn-pupil {
  transform: translateX(calc(-3 * var(--pupil-move))) translateY(0);
}
.sensor-nw:hover ~ .btn-button .btn-pupil {
  transform: translateX(calc(-2 * var(--pupil-move)))
    translateY(calc(-2 * var(--pupil-move)));
}

/**************/
/* Animations */
/**************/

@keyframes agitate {
  0% {
    transform: scale(1.2) translate(0%, -10%);
  }

  25% {
    transform: scale(1.2) translate(-10%, 10%);
  }

  50% {
    transform: scale(1.2) translate(10%, -5%);
  }

  75% {
    transform: scale(1.2) translate(-10%, -5%);
  }

  100% {
    transform: scale(1.2) translate(10%, 10%);
  }
}

@keyframes squint {
  0% {
    background: var(--back-color);
  }

  25% {
    background: linear-gradient(
      0deg,
      #000 0% 9%,
      var(--back-color) 10% 90%,
      #000 91% 100%
    );
  }

  50% {
    background: linear-gradient(
      0deg,
      #000 0% 18%,
      var(--back-color) 19% 81%,
      #000 82% 100%
    );
  }

  75% {
    background: linear-gradient(
      0deg,
      #000 0% 27%,
      var(--back-color) 28% 72%,
      #000 73% 100%
    );
  }

  100% {
    background: linear-gradient(
      0deg,
      #000 0% 35%,
      var(--back-color) 36% 64%,
      #000 65% 100%
    );
  }
}
